:root {
    --uxcasestudy-accent: #52969F;
    --uxcasestudy-background: linear-gradient(to bottom right, #52969F, #A5D2D7);;
    --uxcasestudy-highlight: #52969F;
}

.uxcasestudy-accent {
    color: var(--uxcasestudy-accent);
}

.uxcasestudy-background {
    background: var(--uxcasestudy-background);
}

mark {
    background: none;
    border-bottom: 2px solid var(--uxcasestudy-accent) !important;
}


.card {
    width: 100%;
}

.card-container {
    display: flex;
    margin: 24px 0 ;
}

.spacing {
    min-width: 16px;
    width: 16px;
    max-width: 16px;
}

.bold {
    font-weight: bold;
}

.card {
    border: none;
    background: #F5F6F7;
    border-radius: 8px;
    padding: 16px;
}

/*mobile breakpoint*/
@media (max-width: 499px) {

    .card-container {
        display: block;
    }

    .spacing {
        min-height: 16px;
        height: 16px;
        max-height: 16px;
    }

}

/*tablet breakpoint*/
@media (min-width: 500px) and (max-width: 799px) {




}


/*large tablet breakpoint*/
@media (min-width: 800px) and (max-width: 1099px) {



}





/*desktop breakpoint*/
@media (min-width: 1100px) and (max-width: 1499px) {


}

/*large desktop breakpoint*/
@media (min-width: 1500px) {



}